<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/cargaEntidades.css">
    <title>MENU</title>
    <meta charset="UTF-8">
</head>
<body>
<form method=POST action="/cargaOrganismos" enctype="multipart/form-data">

<div class="div">
    <div class="div-2">
        <div class="div-3">
            <a href='/'><img
                    loading="lazy"
                    srcset="/img/iconoMenu.svg"
                    class="img"
            /></a>

            <a href='/menu'><img
                    loading="lazy"
                    srcset="/img/iconoPerfil.svg"
                    class="img-2"
            /></a>

        </div>
    </div>
    <div class="div-4">
        Carga de Entidades prestadoras y Organismos de control
    </div>
    <div class="div-5">
        <img
                loading="lazy"
                srcset="/img/iconoCarga.svg"
                class="img-3"
        />
        <div class="div-6">
            <div class="file-select" id="file-select" >
                <input type="file" name="fileSelect" aria-label="Archivo" id="fileSelect">
            </div>

        </div>
    </div>
    <div class="div-11">
        <div class="div-12">
            <button type="submit">Cargar entidades</button></div></div>
</div>
</div>
</div>
</form>
</body>
</html>