{{#partial "contenido"}}
  <link rel="stylesheet" type="text/css" href="/css/incidentesxubicacion.css">
<br>
 <h2 id="tituloIncidentesxubi">Incidentes en mi Ubicacion:</h2>
 <div id="incidentesDiv">
  <h5>No se encontraron incidentes en la ubicacion del usuario </h5>

</div>

{{/partial}}
 {{> templates/base }}