<!DOCTYPE html>
{{#if rolMiembro}}
<head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/estilosMenu.css">
    <title>MENU</title>
    <meta charset="UTF-8">
</head>
<style>
    .div {
        background-color: #fe8e5e;
        display: flex;
        flex-direction: column;
        min-height: 140vh;
    }
</style>
<body>

<div class="div">
    <div class="div-2">
        <div class="div-3">
            <a href='/'><img
                    loading="lazy"
                    srcset="/img/iconoMenu.svg"
                    class="img"
            /></a>

            <a href='/menu'><img
                    loading="lazy"
                    srcset="/img/iconoPerfil.svg"
                    class="img-2"
            /></a>

        </div>
    </div>
    <div class="div-4">
        <div class="div-5">
            Sistema de Apoyo a Comunidades con Movilidad Reducida
        </div>
    </div>
    <div class="div-6">
        <div class="div-7">
            <div class="column">
                <div class="div-8">
                    <div class="div-9">
                        <img
                                loading="lazy"
                                srcset="/img/iconoIncidenteNuevo.svg"
                                class="img-9"
                        />
                        <div class="div-10">
                            <a href="/incidentes/nuevo"> Nuevo incidente </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="column-2">
                <div class="div-11">
                    <div class="div-12">
                        <img
                                loading="lazy"
                                srcset="/img/iconoListado.svg"
                                class="img-4"
                        />
                        <div class="div-13">
                            <a href="/incidentes"> Consulta de incidentes </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-14">
        <div class="div-15">
            <div class="column">
                <div class="div-16">
                    <div class="div-17">
                        <img
                                loading="lazy"
                                srcset="/img/iconoRankings.svg"
                                class="img-5"
                        />
                        <div class="div-18">
                            <a href="/rankings"> Rankings de incidentes</a></div>
                    </div>
                </div>
            </div>
            <div class="column-3">
                <div class="div-19">
                    <div class="div-20">
                        <img
                                loading="lazy"
                                srcset="/img/iconoLocalizacion.svg"
                                class="img-6"
                        />
                        <div class="div-21">
                            <a href="/incidentesenlocalizacion"> Revisión de incidentes</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-14">
        <div class="div-15">
            <div class="column">
                <div class="div-16">
                    <div class="div-17">
                        <img
                                loading="lazy"
                                srcset="/img/iconoComunidades.svg"
                                class="img-5"
                        />
                        <div class="div-18">
                            <a href="/comunidades"> Mis comunidades </a></div>
                    </div>
                </div>
            </div>
            <div class="column-3">
            </div>
        </div>
    </div>
</div>
</body>
{{/if}}

{{#if rolAdmin}}
<head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/estilosMenu.css">
    <title>MENU</title>
    <meta charset="UTF-8">
</head>
<style>
    .div {
        background-color: #fe8e5e;
        display: flex;
        flex-direction: column;
        min-height: 170vh;
    }
</style>
<body>
<div class="div">
    <div class="div-2">
        <div class="div-3">
            <a href='/'><img
                    loading="lazy"
                    srcset="/img/iconoMenu.svg"
                    class="img"
            /></a>

            <a href='/menu'><img
                    loading="lazy"
                    srcset="/img/iconoPerfil.svg"
                    class="img-2"
            /></a>

        </div>
    </div>
    <div class="div-4">
        <div class="div-5">
            Sistema de Apoyo a Comunidades con Movilidad Reducida
        </div>
    </div>



    <div class="div-6">
        <div class="div-7">
            <div class="column">
                <div class="div-8">
                    <div class="div-9">
                        <img
                                loading="lazy"
                                srcset="/img/iconoOrganismos.svg"
                                class="img-3"
                        />
                        <div class="div-10">
                            <a href="/cargaOrganismos"> Carga de Organismos mediante CSV </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="column-2">
                <div class="div-11">
                    <div class="div-12">
                        <img
                                loading="lazy"
                                srcset="/img/iconoMiembros.svg"
                                class="img-4"
                        />
                        <div class="div-13">
                            <a href="/miembros">Listado de miembros</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-14">
        <div class="div-15">
            <div class="column">
                <div class="div-16">
                    <div class="div-17">
                        <img
                                loading="lazy"
                                srcset="/img/iconoRankings.svg"
                                class="img-5"
                        />
                        <div class="div-18">
                            <a href="/rankings"> Rankings de incidentes</a></div>
                    </div>
                </div>
            </div>
            <div class="column-3">
                <div class="div-19">
                    <div class="div-20">
                        <img
                                loading="lazy"
                                srcset="/img/iconoLocalizacion.svg"
                                class="img-6"
                        />
                        <div class="div-21">
                            <a href="/incidentesenlocalizacion"> Revisión de incidentes</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-6">
        <div class="div-7">
            <div class="column">
                <div class="div-8">
                    <div class="div-9">
                        <img
                                loading="lazy"
                                srcset="/img/iconoIncidenteNuevo.svg"
                                class="img-9"
                        />
                        <div class="div-10">
                            <a href="/incidentes/nuevo"> Nuevo incidente </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="column-2">
                <div class="div-11">
                    <div class="div-12">
                        <img
                                loading="lazy"
                                srcset="/img/iconoListado.svg"
                                class="img-4"
                        />
                        <div class="div-13">
                            <a href="/incidentes">Listado de incidentes</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div-6">
        <div class="div-7">
            <div class="column">
                <div class="div-8">
                    <div class="div-9">
                        <img
                                loading="lazy"
                                srcset="/img/iconoComunidades.svg"
                                class="img-9"
                        />
                        <div class="div-10">
                            <a href="/comunidades"> Mis comunidades </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="column-2">
                <div class="div-11">
                    <div class="div-12">
                        <img
                                loading="lazy"
                                srcset="/img/iconoListadoOrganismos.svg"
                                class="img-4"
                        />
                        <div class="div-13">
                            <a href="/organismos">Listado de organismos</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
{{/if}}

