
{{#partial "contenido"}}
  <link rel="stylesheet" type="text/css" href="/css/iniciarSesion.css">
<br>
<section id ="acerca_section">
  <h2 id="Acerca_de_nosotros"> Acerca de nosotros: </h2>
  <p id ="Acerca_de_nosotros_info">
    Este sistema tiene como objetivo proporcionar información en tiempo real sobre la accesibilidad y la disponibilidad de servicios públicos, mejorando la calidad de vida de quienes enfrentan barreras en su movilidad en la ciudad. Abordaremos situaciones como la de los afectados que deben sortear obstáculos imprevistos en su viaje diario, y otras problemáticas similares que afectan a nuestra comunidad.
  </p>
</section>
  <h1 id="espacio"> </h1>
  <form method="POST" action="/menu">
      <div class="text-center">
          <button type="submit" class="btn btn-primary">Cerrar sesion</button>
      </div>
  </form>

{{/partial}}
 {{> templates/base }}